<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <h2>{week.dateTimeInstance -> f:format.date(format: '%V %Y')}</h2>

    <f:link.action class="calendar browse week previous" action="week" controller="Frontend\Calendar" arguments="{week: week.previousWeek}">
        {f:translate(key: 'browse.week.previous', extensionName: 'calendar')}
    </f:link.action>
    <f:link.action class="calendar browse month next" action="week" controller="Frontend\Calendar" arguments="{week: week.nextWeek}">
        {f:translate(key: 'browse.month.next', extensionName: 'calendar')}
    </f:link.action>

    <table class="calendar week">
        <tr>
            <th>{f:translate(key: 'weekday.monday.shorthand', extensionName: 'calendar')}</th>
            <th>{f:translate(key: 'weekday.tuesday.shorthand', extensionName: 'calendar')}</th>
            <th>{f:translate(key: 'weekday.wednesday.shorthand', extensionName: 'calendar')}</th>
            <th>{f:translate(key: 'weekday.thursday.shorthand', extensionName: 'calendar')}</th>
            <th>{f:translate(key: 'weekday.friday.shorthand', extensionName: 'calendar')}</th>
            <th>{f:translate(key: 'weekday.saturday.shorthand', extensionName: 'calendar')}</th>
            <th>{f:translate(key: 'weekday.sunday.shorthand', extensionName: 'calendar')}</th>
        </tr>
        <tr>
            <f:for each="{week.days}" as="day">
                <td class="{f:if(condition: day.active, then: 'active', else: 'inactive')}">
                    <f:link.action action="day" controller="Frontend\Calendar" arguments="{day: day.asUrlArgument}">
                        {day.dateTimeInstance -> f:format.date(format: 'd')}
                    </f:link.action>
                </td>
            </f:for>
        </tr>
    </table>
</html>
